on: [workflow_call]

jobs:
  quality_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: latest
          run_install: true
      - run: pnpm run lint:check
      - run: pnpm run format:check
      - run: pnpm run typecheck
