on: [workflow_call]

jobs:
  quality_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          standalone: true
          run_install: true
      
      - name: Lint check
        run: pnpm run lint:check

      - name: Typecheck
        run: pnpm run typecheck
