on: [workflow_call]

jobs:
  quality_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          standalone: true
          run_install: true

      - name: Verify code linting and typechecking
        run: pnpm run tool:code
