on: [workflow_call]

jobs:
  quality_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          standalone: true
          run_install: true
      - run: pnpm run lint:check
      - run: pnpm run typecheck
