on: [workflow_call]

jobs:
  quality_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: pnpm install
      - run: pnpm run lint:check
      - run: pnpm run format:check
      - run: pnpm run typecheck
