on: [workflow_call]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["16", "18", "20", "22", "24"]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          standalone: true
          run_install: true

      - name: Run tests
        run: pnpm run test:run
        env:
          CI: true
